<div class="box">
  <span class="borderLine"></span>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login in</h2>
    <div class="inputBox">
      <input id="email" formControlName="email" type="text"
        [ngClass]="{'k-required':loginForm.get('email')?.invalid && isSubmit}"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
      <span>Email</span>
      <i></i>
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid && isSubmit"
      class="text-danger">
      Email is required and must be valid.
  </div>
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger">
      Email is required.
  </div>
    </div>
    <div class="inputBox">
      <input type="password" id="password" formControlName="password" required
        [ngClass]="{'k-required':loginForm.get('password')?.invalid && isSubmit}">
      <span>Password</span>
      <i></i>
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
        password is required.
      </div>
    </div>
    <div class="links">
      <a class="link" routerLink="/account/register">Signup</a>
    </div>
    <input type="submit" id="submit" value="Login">
  </form>
</div>