<div class="box">
    <span class="borderLine"></span>
    <form action="">
        <h2>Sign in</h2>
        <div class="inputBox">
            <input type="text" required>
            <span>Email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required>
            <span>Password</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required>
            <span>Confirm Password</span>
            <i></i>
        </div>
        <div class="links">
            <a class="link" routerLink="/account/login">Already have account?</a>
        </div>
        <input type="submit" id="submit" value="Submit">
    </form>
</div>